<nav
  class="bg-blue-600 text-white p-4 flex justify-between items-center shadow-md"
>
  <div class="flex items-center gap-4">
    <!-- Botón hamburguesa -->
    <button
      class="px-2 py-1 bg-blue-500 rounded hover:bg-blue-700"
      (click)="onToggleSidebar()"
    >
      ☰
    </button>
    <h1 class="text-xl font-bold">Mi Proyecto</h1>
  </div>

  <ul class="flex gap-4">
    <li>
      <a [routerLink]="['/', routes.home]" class="hover:underline">Home</a>
    </li>
    <li>
      <a [routerLink]="['/', routes.products.default]" class="hover:underline"
        >Productos</a
      >
    </li>
    <li *ngIf="!isLoggedIn()">
      <a [routerLink]="['/', routes.login]" class="hover:underline">Login</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <button (click)="logout()" class="hover:underline">Logout</button>
    </li>
  </ul>
</nav>
