<button
  [class]="
    'btn-responsive flex items-center rounded-lg gap-1 transition-colors ' +
    padding +
    ' ' +
    (isSelected ? 'bg-primary text-white' : '')
  "
  [ngClass]="{
    'text-and-icon': (label || text) && icon,
    'icon-only': !(label || text) && icon,
    'text-only': (label || text) && !icon
  }"
  [type]="htmlType"
  [disabled]="disabled"
  [ngStyle]="{
    'background-color': hover
      ? hoverBgColor ?? hoverColor(background)
      : background,
    color: hover ? hoverTextColor ?? color : color,
    'font-size': font,
    opacity: disabled ? 0.5 : 1,
    cursor: disabled ? 'not-allowed' : 'pointer'
  }"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
>
  <span class="inline-flex items-center gap-2">
    <span
      *ngIf="icon"
      [innerHTML]="icon"
      class="button-icon pointer-events-none"
    ></span>
    <span *ngIf="label || text" class="button-text">{{ label || text }}</span>
  </span>
</button>
