<div class="max-w-7xl mx-auto px-4 py-8">
  <!-- Título -->
  <h1
    class="text-4xl md:text-5xl font-extrabold text-red-600 text-center mb-10 drop-shadow-md"
  >
    Productos Disponibles
  </h1>

  <!-- Grid de productos -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-10"
  >
    <div *ngFor="let product of products">
      <app-card-product
        [id]="product._id!"
        [title]="product.name"
        [description]="product.description"
        [price]="product.price"
        [imageUrl]="product.imageUrl"
      ></app-card-product>
    </div>
  </div>

  <!-- Formulario -->
  <div class="bg-white shadow-lg rounded-xl p-6 max-w-3xl mx-auto">
    <app-product-form></app-product-form>
  </div>
</div>
