<div class="max-w-7xl mx-auto px-4 py-8">
  <app-filter-search
    [items]="allProducts"
    [fields]="['name', 'description', 'price']"
    (filtered)="onProductsFiltered($event)"
  ></app-filter-search>

  <app-filter-search
    [items]="allProducts"
    [fields]="['price']"
    [type]="'number'"
    (filtered)="onProductsFiltered($event)"
  ></app-filter-search>

  <app-filter-search
    [items]="allProducts"
    [fields]="['category']"
    [type]="'select'"
    [options]="GlobalVariables.productCategories"
    (filtered)="onProductsFiltered($event)"
  ></app-filter-search>
  <!-- Título -->
  <h1
    class="text-4xl md:text-5xl font-extrabold text-red-600 text-center mb-10 drop-shadow-md"
  >
    Productos Disponibles
  </h1>

  <!-- Grid de productos -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mb-10">
    <div *ngFor="let product of filteredProducts">
      <app-card-product
        [id]="product._id!"
        [title]="product.name"
        [description]="product.description"
        [price]="product.price"
        [category]="product.category || 'No especificada'"
        [imageUrl]="product.imageUrl"
      ></app-card-product>
    </div>
    <div *ngIf="filteredProducts.length === 0">
      <p>No se encontraron productos.</p>
    </div>
  </div>
</div>
