<!-- Texto -->
<div class="mb-4" *ngIf="type === 'text'">
  <app-input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onSearchChange()"
    placeholder="Buscar..."
  ></app-input>
</div>

<!-- Rango numérico -->
<div class="mb-4 flex gap-2" *ngIf="type === 'number'">
  <app-input
    type="number"
    [(ngModel)]="minValue"
    (input)="onSearchChange()"
    placeholder="Mínimo"
  ></app-input>
  <app-input
    type="number"
    [(ngModel)]="maxValue"
    (input)="onSearchChange()"
    placeholder="Máximo"
  ></app-input>
</div>

<!-- Select múltiple -->
<div class="mb-4" *ngIf="type === 'select'">
  <label class="block mb-2 font-medium text-[var(--text)]">
    Filtrar por categorías
  </label>
  <div class="flex flex-wrap gap-2">
    <app-button
      *ngFor="let option of options"
      (click)="toggleOption(option)"
      [label]="option | titlecase"
      [isSelected]="selectedOptions.includes(option)"
    ></app-button>
  </div>
</div>
