<aside
  class="fixed top-16 left-0 w-64 h-[calc(100vh-64px)] bg-[var(--sidebar-bg)] p-4 overflow-y-auto"
>
  <ul class="space-y-2">
    <li *ngFor="let item of menuItems">
      <a
        [routerLink]="item.link"
        class="block rounded-lg px-4 py-3 transition-all duration-300 border-l-4 border-transparent shadow-xl"
        [ngClass]="{
          'bg-[var(--sidebar-bg-active)] text-[var(--sidebar-text-active)] font-bold border-l-[var(--primary)] shadow-md':
            isActive(item.link),
          'bg-[var(--sidebar-bg)] text-[var(--sidebar-text)] hover:bg-[var(--sidebar-bg-hover)] hover:text-[var(--sidebar-text-hover)] hover:pl-5 cursor-pointer':
            !isActive(item.link)
        }"
      >
        {{ item.label }}
      </a>
    </li>
  </ul>
</aside>
