<!-- layout.component.html -->
<app-top-alert></app-top-alert>
<app-pop-alert></app-pop-alert>

<div class="h-screen flex flex-col">
  <!-- Topbar -->
  <div *ngIf="showTopbar">
    <app-topbar (toggleSidebar)="toggleSidebar()" ></app-topbar>
  </div>

  <!-- Contenedor principal -->
  <div class="flex flex-1 pt-[64px]">
    <!-- Leftbar -->
    <aside
      *ngIf="showLeftbar; else leftbarClosed"
      class="w-64 bg-[var(--sidebar-bg)]"
    >
      <app-leftbar></app-leftbar>
    </aside>
    <ng-template #leftbarClosed>
      <div class="w-0"></div>
    </ng-template>

    <!-- Main content -->
    <main
      class="flex-1 p-4 overflow-y-auto h-[calc(100vh-64px)] bg-[var(--layout-bg)] transition-all duration-300"
    >
      <router-outlet></router-outlet>
    </main>
  </div>
</div>